$cream : #dbd5ce;

@keyframes cv_pop {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes translateY_bg {
  to {
    background-position: 80%;

  }
}
@keyframes project_pop {
  from {
    transform: translateY(60%);
    scale: 0.3;
  }
  to {
    transform: translateY(0%);
    scale: 1;
  }
}

@keyframes project_hover {
  from {
    box-shadow: 4px 8px rgba(0, 0, 0, 0.5);
    scale: 1;
  }
  to {
    box-shadow: 6px 10px rgba(0, 0, 0, 0.5);
    scale: 1.03;
  }
}
@keyframes project_hover_reverse {
  from {
    box-shadow: 6px 10px rgba(0, 0, 0, 0.5);
    scale: 1.03;
  }
  to {
    box-shadow: 4px 8px rgba(0, 0, 0, 0.5);
    scale: 1;
  }
}

@keyframes img_pop {
  to {
    margin: 0 4px;
    height: 500px;
  }
}
@keyframes img_pop_reverse {
  to {
    margin: 12px 12px;
    height: 430px;
  }
}

@keyframes img_scroll {
  to {
    object-position: 50% 100%;
  }
}

@keyframes card_anim {
  from {
    height: 0;
    transform: scaleY(0);
  }
  to {
    transform: scaleY(100%);
    height: fit-content;

    max-height: fit-content;
  }
}

@keyframes about_anim {
  from {
    height:40px;
    width: 400px;
    color:transparent;
  }
  70% {
    color:transparent;
  }
  to {
    height:500px;
    color:$cream;
    width: 800px;
  }
}

@keyframes skill_pop {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }


}

@media screen and (max-width : 1100px) { 
  @keyframes about_anim {
    to {
      height:620px;
    }
  }
}


@media screen and (max-width : 1024px) {
  @keyframes about_anim {
    to {
      width: 500px;
    }
  }
 }

